@font-face {
  font-family: 'Silverfake';
  src: url('/fonts/Silverfake/Silverfake.ttf.woff') format('woff'),
    url('/fonts/Silverfake/Silverfake.ttf.svg#Silverfake') format('svg'),
    url('/fonts/Silverfake/Silverfake.ttf.eot'),
    url('/fonts/Silverfake/Silverfake.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}