body {
  background-color: rgb(22, 22, 22);
}

section, footer {
  padding: 56px 0;
}

p, h1, h2 {
  color: rgb(247, 247, 247);
  text-align: center;
}

.banner {
  display: block;
  margin: 0 auto;
  max-width: 66%;
  border: 6px solid white;
}

.banner img {
  width: 100%;
}

p {
  max-width: 805px;
  margin: 0 auto;
  font-size: 18px;
}

h1 {
  margin-bottom: 24px;
}

hr {
  margin: 30px auto;
  width: 50px;
  border: 2px solid rgb(100, 100, 100);
}