---
import { Image } from "astro:assets";
import logo from "@/assets/logo.png";
---

<header>
	<div class="container">
		<a href="/" id="logo">
			<Image src={logo} alt="Timberworks logo" width={200} height={200} />
		</a>

		<!-- <div id="brand">Timberworks Construction</div> -->

		<div id="nav-links" class="row">
			<nav class="row">
				<a href="/">Home</a>
				<a href="/about">About Us</a>
				<a href="/services">Services</a>
				<a href="/portfolio">Portfolio</a>
			</nav>

			<a href="/contact" id="get-started">Get in Touch</a>
		</div>
	</div>
</header>

<style lang="scss">
	@use "@/styles/variables";

	$navbar-height: 4rem;
	$logo-offset: 1.5rem;
	$logo-size: calc($navbar-height + $logo-offset * 2);

	header {
		position: fixed;
		width: 100%;
		z-index: 100;
		padding: calc($logo-offset + 1rem) 2rem;
		color: variables.$color-primary;
	}

	.container {
		display: flex;
		justify-content: space-between;
		height: $navbar-height;
		padding: 0 1rem;
		background-color: variables.$color-secondary;
		border-radius: 0.5rem;
		box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.5);
	}

	.row {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
	}

	#logo {
		width: $logo-size;
		height: $logo-size;
		background-color: variables.$color-secondary;
		border-radius: 50%;
		transform: translateY(calc($logo-offset * -1));
		transition: box-shadow 0.1s linear;

		&:hover {
			box-shadow: 0 0 0.5rem variables.$color-accent;
		}

		img {
			display: block;
			max-width: 100%;
			max-height: 100%;
		}
	}

	#brand {
		font-family: "Silverfake";
	}

	#nav-links {
		gap: 1rem;
	}

	nav {
		height: $navbar-height;
		align-items: stretch;
		gap: 0.5rem;

		a {
			display: block;
			padding: 0 0.75rem;
			line-height: $navbar-height;
			color: variables.$color-primary;
			text-decoration: none;
			text-transform: uppercase;

			&:hover {
				background-color: variables.$color-accent;
				color: variables.$color-secondary;
			}
		}
	}

	#get-started {
		display: block;
		padding: 0.75rem;
		background-color: variables.$color-accent;
		color: variables.$color-secondary;
		border: 0.1rem solid variables.$color-accent;
		border-radius: 0.5rem;
		text-decoration: none;
		text-transform: uppercase;

		&:hover {
			background-color: transparent;
			color: variables.$color-accent;
		}
	}

	a {
		font-weight: 500;
		transition:
			background-color 0.1s linear,
			color 0.1s linear;
	}
</style>
