---
import { Image } from "astro:assets";
import logo from "@/assets/logo.png";

const navbarHeight = 80;
const logoOffset = 30;
const logoSize = navbarHeight + logoOffset * 2;
---

<header>
	<div class="container">
		<a href="/" id="logo">
			<Image src={logo} alt="Timberworks logo" width={200} height={200} />
		</a>

		<!-- <div id="brand">Timberworks Construction</div> -->

		<div id="nav-links" class="row">
			<nav class="row">
				<a href="/">Home</a>
				<a href="/products">Products</a>
				<a href="/services">Services</a>
				<a href="/about">About Us</a>
			</nav>

			<a href="#" id="get-started">Get in Touch</a>
		</div>
	</div>
</header>

<style lang="scss">
	@use "@/styles/variables";

	:root {
		--navbarHeight: 4rem;
		--logoOffset: 1.5rem;
		--logoSize: calc(var(--navbarHeight) + var(--logoOffset) * 2);
	}

	header {
		padding: calc(var(--logoOffset) + 1rem) 2rem;
		color: variables.$color-primary;
	}

	.container {
		display: flex;
		justify-content: space-between;
		height: var(--navbarHeight);
		padding: 0 1rem;
		background-color: variables.$color-secondary;
		border-radius: 0.5rem;
	}

	.row {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
	}

	#logo {
		width: var(--logoSize);
		height: var(--logoSize);
		background-color: variables.$color-secondary;
		border-radius: 50%;
		transform: translateY(calc(var(--logoOffset) * -1));

		img {
			display: block;
			max-width: 100%;
			max-height: 100%;
		}
	}

	#brand {
		font-family: "Silverfake";
	}

	#nav-links {
		gap: 1rem;
	}

	nav {
		height: var(--navbarHeight);
		align-items: stretch;
		gap: 0.5rem;

		a {
			display: block;
			padding: 0 0.75rem;
			line-height: var(--navbarHeight);
			color: variables.$color-primary;
			text-decoration: none;
			text-transform: uppercase;

			&:hover {
				background-color: variables.$color-primary;
				color: variables.$color-secondary;
			}
		}
	}

	#get-started {
		display: block;
		padding: 0.75rem;
		background-color: variables.$color-accent;
		color: variables.$color-secondary;
		border: 0.1rem solid variables.$color-accent;
		border-radius: 0.5rem;
		text-decoration: none;
		text-transform: uppercase;

		&:hover {
			background-color: variables.$color-secondary;
			color: variables.$color-accent;
			border-color: variables.$color-accent;
		}
	}

	a {
		transition:
			background-color 0.1s linear,
			color 0.1s linear;
	}
</style>
