---
interface Props {
	title: string;
	light?: boolean;
}

const { title, light = false } = Astro.props;
console.log(title, "light mode:", light);
---

<section class={light ? "light" : ""}>
	<div class="container block">
		<h2>{title}</h2>
		<hr class={light ? "light" : ""} />
		<slot />
	</div>
</section>

<style lang="scss">
	@use "@/styles/variables";

	section {
		padding: 5rem 0;
		background-color: variables.$color-primary;
		color: variables.$color-secondary;

		&.light {
			background-color: variables.$color-tertiary;
			color: variables.$color-primary;
		}
	}

	.container {
		padding: 0 2rem;
	}

	h2 {
		display: block;
		text-align: center;
		font-family: "Silverfake";
		font-size: 1.75rem;
	}

	hr {
		width: 8rem;
		margin-bottom: 5rem;
		border-width: 0.1rem;
		border-style: solid;
		opacity: 50%;
		border-color: variables.$color-tertiary;
		border-radius: 0.1rem;

		&.light {
			border-color: variables.$color-primary;
		}
	}
</style>
