---

---

<div class="container">
	<slot name="left" />
	<slot name="right" />
</div>

<style lang="scss">
	.container {
		justify-content: space-between;
		align-items: center;
		gap: 5rem;
		padding: 0 4rem;
	}
</style>
